{% extends 'base.html' %}
{% block nav %}
    <a class="nav-link" href="{% url 'add_product' %}">Add product</a>
{% endblock %}

{% block content %}

    <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Add category</div>

        <div class="card-body">
            <form id="article-form" action="" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="name" id="name" placeholder="name">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Описание"
                              style="height: 100px"></textarea>
                    <label for="description">Description</label>
                </div>
                <button type="submit" form="article-form" class="btn btn-sm btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}